# XML example and exercise
****
+ study examples of accessing nodes in XML tree structure  
+ work on exercise to be completed and submitted
****
+ reference: https://docs.python.org/2.7/library/xml.etree.elementtree.html
+ data source: http://www.dbis.informatik.uni-goettingen.de/Mondial
****

In [1]:
from xml.etree import ElementTree as ET

## XML example

+ for details about tree traversal and iterators, see https://docs.python.org/2.7/library/xml.etree.elementtree.html

In [5]:
document_tree = ET.parse( './data/mondial_database_less.xml' )

In [44]:
root = document_tree.getroot()
root.tag

root.attrib

for c in root.iter('country'):
     print (c.attrib)

{'area': '28750', 'memberships': 'org-BSEC org-CEI org-CD org-SELEC org-CE org-EAPC org-EBRD org-EITI org-FAO org-IPU org-IAEA org-IBRD org-ICC org-ICAO org-ICCt org-Interpol org-IDA org-IFRCS org-IFC org-IFAD org-ILO org-IMO org-IMF org-IOC org-IOM org-ISO org-OIF org-ITU org-ITUC org-IDB org-MIGA org-NATO org-OSCE org-OPCW org-OAS org-OIC org-PCA org-UN org-UNCTAD org-UNESCO org-UNIDO org-UPU org-WCO org-WFTU org-WHO org-WIPO org-WMO org-UNWTO org-WTO', 'capital': 'cty-Albania-Tirane', 'car_code': 'AL'}
{'area': '131940', 'memberships': 'org-AG org-BIS org-BSEC org-CD org-SELEC org-CE org-EMU org-EAPC org-EBRD org-ECB org-EIB org-CERN org-ESA org-EU org-FATF org-FAO org-IGAD org-IPU org-IAEA org-IBRD org-ICC org-ICAO org-ICJ org-ICCt org-Interpol org-IDA org-IEA org-IFRCS org-IFC org-IFAD org-IHO org-ILO org-IMO org-IMSO org-IMF org-IOC org-IOM org-OIF org-ITSO org-ITU org-ITUC org-MIGA org-NATO org-NEA org-NSG org-OECD org-OSCE org-OPCW org-OAS org-PCA org-UN org-UNCTAD org-UNESCO org-UNHCR org-UNIDO org-UNIFIL org-UPU org-WCO org-WFTU org-WHO org-WIPO org-WMO org-UNWTO org-WTO org-ZC', 'capital': 'cty-Greece-Athens', 'car_code': 'GR'}
{'area': '25333', 'memberships': 'org-BIS org-CEI org-CD org-SELEC org-CE org-EAPC org-EBRD org-EU org-FAO org-IPU org-IAEA org-IBRD org-ICC org-ICAO org-ICCt org-Interpol org-IDA org-IFRCS org-IFC org-IFAD org-ILO org-IMO org-IMF org-IOC org-IOM org-OIF org-ITU org-ITUC org-MIGA org-OSCE org-OPCW org-OAS org-PFP org-PCA org-UN org-UNCTAD org-UNESCO org-UNHCR org-UNIDO org-UNIFIL org-UPU org-WCO org-WHO org-WIPO org-WMO org-UNWTO org-WTO', 'capital': 'cty-Macedonia-Skopje', 'car_code': 'MK'}
{'area': '77474', 'memberships': 'org-BIS org-BSEC org-CEI org-CD org-SELEC org-CE org-EAPC org-EBRD org-EU org-FAO org-G-9 org-IPU org-IAEA org-IBRD org-ICC org-ICAO org-ICCt org-Interpol org-IDA org-IFRCS org-IFC org-IHO org-ILO org-IMO org-IMSO org-IMF org-IOC org-IOM org-OIF org-ITSO org-ITU org-ITUC org-MIGA org-NAM org-NSG org-OSCE org-OPCW org-OAS org-PFP org-PCA org-UN org-UNCTAD org-UNESCO org-UNHCR org-UNIDO org-UNIFIL org-UNMIL org-UNOCI org-MONUSCO org-UNFICYP org-UNTSO org-UPU org-WCO org-WHO org-WIPO org-WMO org-UNWTO org-WTO', 'capital': 'city-Belgrade-SRB-SRB', 'car_code': 'SRB'}
{'area': '14026', 'memberships': 'org-CEI org-CD org-SELEC org-CE org-EAPC org-EBRD org-EU org-FAO org-IPU org-IAEA org-IBRD org-ICC org-ICAO org-ICCt org-Interpol org-IDA org-IFRCS org-IFC org-IHO org-ILO org-IMO org-IMSO org-IMF org-IOC org-IOM org-ISO org-OIF org-ITSO org-ITU org-ITUC org-MIGA org-NAM org-OSCE org-OPCW org-PFP org-PCA org-UN org-UNCTAD org-UNESCO org-UNHCR org-UNIDO org-UNMIL org-UPU org-WCO org-WHO org-WIPO org-WMO org-UNWTO org-WTO', 'capital': 'city-Podgorica-MNE-MNE', 'car_code': 'MNE'}
{'area': '10887', 'memberships': 'org-CD org-EBRD org-IBRD org-IDA org-IFC org-IMF org-ITUC', 'capital': 'city-Pristina-KOS-KOS', 'car_code': 'KOS'}
{'area': '450', 'memberships': 'org-CE org-FAO org-IPU org-ICC org-ICAO org-ICCt org-Interpol org-IFRCS org-IOC org-OIF org-ITU org-OSCE org-OPCW org-UN org-UNCTAD org-UNESCO org-WCO org-WHO org-WIPO org-UNWTO org-WTO', 'capital': 'cty-Andorra-Andorra-la-Vella', 'car_code': 'AND'}

In [171]:
countries = document_tree.findall('country')
print( document_tree.findall('country').[len(countries)-1].find('name').text)

SyntaxError: invalid syntax (<ipython-input-171-e203a0226353>, line 2)

In [46]:
for child in root.findall('.'):
    print(child.tag)

mondial

In [32]:
root[0][0].text + " " + root[0][1].text + " " + root[0][2].text

'Albania 1214489 1618829'

In [53]:
list(root[0].iter("."))

[]

In [22]:
# print names of all countries
for child in document_tree.getroot():
    print (child.find('name').text)

Albania
Greece
Macedonia
Serbia
Montenegro
Kosovo
Andorra

In [71]:
document_tree.find('country').find('infant_mortality').text

'13.19'

In [65]:
# print names of all countries and their cities
for element in document_tree.iterfind('country'):
    print ('* ' + element.find('name').text + ':'),
    capitals_string = ''
    for subelement in element.getiterator('city'):
        capitals_string += subelement.find('name').text + ', '
    print (capitals_string[:-2])

* Albania:
Tirana, Shkodër, Durrës, Vlorë, Elbasan, Korçë
* Greece:
Komotini, Kavala, Athina, Peiraias, Peristeri, Acharnes, Patra, Kozani, Kerkyra, Ioannina, Thessaloniki, Iraklio, Chania, Ermoupoli, Rhodes, Tripoli, Lamia, Chalkida, Larissa, Volos, Mytilini, Karyes
* Macedonia:
Skopje, Kumanovo
* Serbia:
Beograd, Novi Sad, Niš
* Montenegro:
Podgorica
* Kosovo:
Prishtine
* Andorra:
Andorra la Vella

****
## XML exercise

Using data in 'data/mondial_database.xml', the examples above, and refering to https://docs.python.org/2.7/library/xml.etree.elementtree.html, find

1. 10 countries with the lowest infant mortality rates
2. 10 cities with the largest population
3. 10 ethnic groups with the largest overall populations (sum of best/latest estimates over all countries)
4. name and country of a) longest river, b) largest lake and c) airport at highest elevation

In [2]:
document = ET.parse( './data/mondial_database.xml' )

In [3]:
import pandas as pd
import numpy as np

### 1. Find 10 countries with the lowest infant mortality rates

In [128]:
# store the results in a data frame with one column for country name and another for infant mortality rates
n_country = len(document.find('country')) 

store_mortality = pd.DataFrame({"name": [np.nan] * (n_country +1),
                                "infant_mortality": [np.nan] * (n_country +1)})
#store_mortality.head()

   infant_mortality  name
0               NaN   NaN
1               NaN   NaN
2               NaN   NaN
3               NaN   NaN
4               NaN   NaN

In [133]:
# iterate over all the countries to find infant mortality rates
i = 0
for element in document.iterfind('country'):
    store_mortality.name[i] = element.find('name').text
    
    inf_mor = element.find('infant_mortality') # It should be "xml.etree.ElementTree.Element" unless missing value
    
    if (str(inf_mor) != 'None'):
        store_mortality.infant_mortality[i] = float(inf_mor.text)
    i += 1

In [134]:
# list the 10 lowest infant mortality countries
store_mortality.dropna().sort_values("infant_mortality")[:10]

    infant_mortality            name
38              1.81          Monaco
36              2.48          Norway
37              2.60          Sweden
10              2.63  Czech Republic
7               3.31          France
13              3.31           Italy
8               3.33           Spain
35              3.36         Finland
11              3.46         Germany
18              3.64         Belarus

### 2. Find 10 cities with the largest population

In [206]:
# first initiate some empty lists to store information
cities = []
years = []
pops = []

# iterate through countries
for e in document.iterfind('country'):
    
    # interate through cities
    for c in e.getiterator('city'):
        
        # iterate through all population data years
        for c_pop in c.getiterator('population'):  
            
            #store city name, year, and population
            cities += [c.find('name').text]
            years += [c_pop.attrib.get('year')]
            pops += [c_pop.text]
            
# create a data frame
pop_city = pd.DataFrame({"city_name": pd.Categorical(cities), 
                          "Year": pd.Series(years, dtype = 'int32'),
                          "Population": pd.Series(pops, dtype= 'int32')})

pop_city.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9320 entries, 0 to 9319
Data columns (total 3 columns):
Population    9320 non-null int32
Year          9320 non-null int32
city_name     9320 non-null category
dtypes: category(1), int32(2)
memory usage: 114.5 KB

In [207]:
# organize the data frame as a pivot table with years and cities
spread_pop = pd.pivot_table(pop_city, values='Population', index=['Year'], columns=['city_name'])
spread_pop

city_name,'s-Hertogenbosch,A Coruña,Aachen,Aalborg,Aba,Abadan,Abakan,Abeokuta,Aberdeen,Abidjan,...,České Budějovice,Ėngel's,İnegöl,Łódź,Şanlıurfa,Šachty,Ščëlkovo,Železnodorožnyj,Žilina,Žukovskij
Year,,,,,,,,,,,,,,,,,,,,,
1950,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1957,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1959,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1969,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1970,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1971,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1972,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1973,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1976,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1979,NaN,NaN,NaN,NaN,NaN,NaN,128311.0,NaN,NaN,NaN,...,NaN,161349.0,NaN,NaN,NaN,209495.0,100281.0,76455.0,NaN,90288.0
1980,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1981,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1982,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1983,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1985,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1986,NaN,NaN,NaN,NaN,NaN,6.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1987,NaN,NaN,229740.0,113865.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1988,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1929079.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1989,NaN,NaN,NaN,NaN,NaN,NaN,154092.0,NaN,NaN,NaN,...,NaN,181201.0,NaN,NaN,NaN,225797.0,109225.0,97426.0,NaN,100609.0
1990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,174000.0,NaN,71120.0,852000.0,276528.0,NaN,NaN,NaN,NaN,NaN
1991,NaN,243134.0,NaN,NaN,500183.0,NaN,NaN,352735.0,182133.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1993,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1994,NaN,255087.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,357900.0,NaN,NaN,NaN,NaN,NaN
1995,199127.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1996,NaN,NaN,NaN,NaN,NaN,206073.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2877948.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,105959.0,NaN,385588.0,NaN,NaN,NaN,NaN,NaN
2001,NaN,236379.0,NaN,119996.0,NaN,NaN,NaN,NaN,185226.0,NaN,...,97339.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,85400.0,NaN
2002,NaN,NaN,NaN,NaN,NaN,NaN,165197.0,NaN,NaN,NaN,...,NaN,193984.0,NaN,789318.0,NaN,254721.0,112865.0,110622.0,NaN,101328.0
2003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004,133511.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,774004.0,NaN,NaN,NaN,NaN,NaN,NaN
2006,NaN,NaN,NaN,NaN,NaN,219772.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4007000.0,...,NaN,NaN,NaN,744541.0,NaN,NaN,NaN,NaN,NaN,NaN
2010,139754.0,NaN,NaN,102312.0,NaN,NaN,165214.0,NaN,NaN,NaN,...,NaN,202419.0,NaN,NaN,NaN,239987.0,110411.0,131257.0,NaN,104736.0
2011,NaN,245053.0,236420.0,NaN,NaN,212744.0,NaN,NaN,195021.0,NaN,...,95589.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,81494.0,NaN
2012,NaN,NaN,NaN,104885.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,177617.0,722022.0,526247.0,NaN,NaN,NaN,NaN,NaN
2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014,143822.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4395243.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

It looks like a mess in that each city has a different set of years with available population data.
As a result, we cannot find a common year such that all cities' populations could be compared.

In [213]:
# Doing the best we can given this dataset, interpolate the population according to years
pop_fillna = spread_pop.copy()

pop_fillna = pop_fillna.interpolate(method = 'index')

pop_fillna

city_name,'s-Hertogenbosch,A Coruña,Aachen,Aalborg,Aba,Abadan,Abakan,Abeokuta,Aberdeen,Abidjan,...,České Budějovice,Ėngel's,İnegöl,Łódź,Şanlıurfa,Šachty,Ščëlkovo,Železnodorožnyj,Žilina,Žukovskij
Year,,,,,,,,,,,,,,,,,,,,,
1950,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1957,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1959,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1969,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1970,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1971,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1972,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1973,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1976,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1979,NaN,NaN,NaN,NaN,NaN,NaN,128311.000000,NaN,NaN,NaN,...,NaN,161349.000000,NaN,NaN,NaN,209495.000000,100281.00,76455.000000,NaN,90288.000000
1980,NaN,NaN,NaN,NaN,NaN,NaN,130889.100000,NaN,NaN,NaN,...,NaN,163334.200000,NaN,NaN,NaN,211125.200000,101175.40,78552.100000,NaN,91320.100000
1981,NaN,NaN,NaN,NaN,NaN,NaN,133467.200000,NaN,NaN,NaN,...,NaN,165319.400000,NaN,NaN,NaN,212755.400000,102069.80,80649.200000,NaN,92352.200000
1982,NaN,NaN,NaN,NaN,NaN,NaN,136045.300000,NaN,NaN,NaN,...,NaN,167304.600000,NaN,NaN,NaN,214385.600000,102964.20,82746.300000,NaN,93384.300000
1983,NaN,NaN,NaN,NaN,NaN,NaN,138623.400000,NaN,NaN,NaN,...,NaN,169289.800000,NaN,NaN,NaN,216015.800000,103858.60,84843.400000,NaN,94416.400000
1984,NaN,NaN,NaN,NaN,NaN,NaN,141201.500000,NaN,NaN,NaN,...,NaN,171275.000000,NaN,NaN,NaN,217646.000000,104753.00,86940.500000,NaN,95448.500000
1985,NaN,NaN,NaN,NaN,NaN,NaN,143779.600000,NaN,NaN,NaN,...,NaN,173260.200000,NaN,NaN,NaN,219276.200000,105647.40,89037.600000,NaN,96480.600000
1986,NaN,NaN,NaN,NaN,NaN,6.0,146357.700000,NaN,NaN,NaN,...,NaN,175245.400000,NaN,NaN,NaN,220906.400000,106541.80,91134.700000,NaN,97512.700000
1987,NaN,NaN,229740.000000,113865.000000,NaN,20612.7,148935.800000,NaN,NaN,NaN,...,NaN,177230.600000,NaN,NaN,NaN,222536.600000,107436.20,93231.800000,NaN,98544.800000
1988,NaN,NaN,230018.333333,114302.928571,NaN,41219.4,151513.900000,NaN,NaN,1.929079e+06,...,NaN,179215.800000,NaN,NaN,NaN,224166.800000,108330.60,95328.900000,NaN,99576.900000
1989,NaN,NaN,230296.666667,114740.857143,NaN,61826.1,154092.000000,NaN,NaN,2.023966e+06,...,NaN,181201.000000,NaN,NaN,NaN,225797.000000,109225.00,97426.000000,NaN,100609.000000
1990,NaN,NaN,230575.000000,115178.785714,NaN,82432.8,154946.230769,NaN,NaN,2.118853e+06,...,174000.000000,182184.307692,71120.0,852000.000000,276528.000000,228021.923077,109505.00,98441.076923,NaN,100664.307692
1991,NaN,243134.000000,230853.333333,115616.714286,500183.0,103039.5,155800.461538,352735.0,182133.0,2.213740e+06,...,167030.818182,183167.615385,74603.9,846776.500000,296871.000000,230246.846154,109785.00,99456.153846,NaN,100719.615385
1992,NaN,247118.333333,231131.666667,116054.642857,500183.0,123646.2,156654.692308,352735.0,182442.3,2.308627e+06,...,160061.636364,184150.923077,78087.8,841553.000000,317214.000000,232471.769231,110065.00,100471.230769,NaN,100774.923077
1993,NaN,251102.666667,231410.000000,116492.571429,500183.0,144252.9,157508.923077,352735.0,182751.6,2.403514e+06,...,153092.454545,185134.230769,81571.7,836329.500000,337557.000000,234696.692308,110345.00,101486.307692,NaN,100830.230769
1994,NaN,255087.000000,231688.333333,116930.500000,500183.0,164859.6,158363.153846,352735.0,183060.9,2.498400e+06,...,146123.272727,186117.538462,85055.6,831106.000000,357900.000000,236921.615385,110625.00,102501.384615,NaN,100885.538462
1995,199127.000000,252414.428571,231966.666667,117368.428571,500183.0,185466.3,159217.384615,352735.0,183370.2,2.593287e+06,...,139154.090909,187100.846154,88539.5,825882.500000,362514.666667,239146.538462,110905.00,103516.461538,NaN,100940.846154
1996,191836.333333,249741.857143,232245.000000,117806.357143,500183.0,206073.0,160071.615385,352735.0,183679.5,2.688174e+06,...,132184.909091,188084.153846,92023.4,820659.000000,367129.333333,241371.461538,111185.00,104531.538462,NaN,100996.153846
1997,184545.666667,247069.285714,232523.333333,118244.285714,500183.0,207442.9,160925.846154,352735.0,183988.8,2.783061e+06,...,125215.727273,189067.461538,95507.3,815435.500000,371744.000000,243596.384615,111465.00,105546.615385,NaN,101051.461538
1998,177255.000000,244396.714286,232801.666667,118682.214286,500183.0,208812.8,161780.076923,352735.0,184298.1,2.877948e+06,...,118246.545455,190050.769231,98991.2,810212.000000,376358.666667,245821.307692,111745.00,106561.692308,NaN,101106.769231
1999,169964.333333,241724.142857,233080.000000,119120.142857,500183.0,210182.7,162634.307692,352735.0,184607.4,2.980589e+06,...,111277.363636,191034.076923,102475.1,804988.500000,380973.333333,248046.230769,112025.00,107576.769231,NaN,101162.076923
2000,162673.666667,239051.571429,233358.333333,119558.071429,500183.0,211552.6,163488.538462,352735.0,184916.7,3.083230e+06,...,104308.181818,192017.384615,105959.0,799765.000000,385588.000000,250271.153846,112305.00,108591.846154,NaN,101217.384615
2001,155383.000000,236379.000000,233636.666667,119996.000000,500183.0,212922.5,164342.769231,352735.0,185226.0,3.185871e+06,...,97339.000000,193000.692308,111930.5,794541.500000,397309.583333,252496.076923,112585.00,109606.923077,85400.0,101272.692308
2002,148092.333333,237246.400000,233915.000000,118031.111111,500183.0,214292.4,165197.000000,352735.0,186205.5,3.288512e+06,...,97164.000000,193984.000000,117902.0,789318.000000,409031.166667,254721.000000,112865.00,110622.000000,85009.4,101328.000000
2003,140801.666667,238113.800000,234193.333333,116066.222222,500183.0,215662.3,165199.125000,352735.0,187185.0,3.391153e+06,...,96989.000000,195038.375000,123873.5,784213.333333,420752.750000,252879.250000,112558.25,113201.375000,84618.8,101754.000000
2004,133511.000000,238981.200000,234471.666667,114101.333333,500183.0,217032.2,165201.250000,352735.0,188164.5,3.493795e+06,...,96814.000000,196092.750000,129845.0,779108.666667,432474.333333,251037.500000,112251.50,115780.750000,84228.2,102180.000000
2005,134551.500000,239848.600000,234750.000000,112136.444444,500183.0,218402.1,165203.375000,352735.0,189144.0,3.596436e+06,...,96639.000000,197147.125000,135816.5,774004.000000,444195.916667,249195.750000,111944.75,118360.125000,83837.6,102606.000000
2006,135592.000000,240716.000000,235028.333333,110171.555556,500183.0,219772.0,165205.500000,352735.0,190123.5,3.699077e+06,...,96464.000000,198201.500000,141788.0,766638.250000,455917.500000,247354.000000,111638.00,120939.500000,83447.0,103032.000000
2007,136632.500000,241583.400000,235306.666667,108206.666667,500183.0,218366.4,165207.625000,352735.0,191103.0,3.801718e+06,...,96289.000000,199255.875000,147759.5,759272.500000,467639.083333,245512.250000,111331.25,123518.875000,83056.4,103458.000000
2008,137673.000000,242450.800000,235585.000000,106241.777778,500183.0,216960.8,165209.750000,352735.0,192082.5,3.904359e+06,...,96114.000000,200310.250000,153731.0,751906.750000,479360.666667,243670.500000,111024.50,126098.250000,82665.8,103884.000000
2009,138713.500000,243318.200000,235863.333333,104276.888889,500183.0,215555.2,165211.875000,352735.0,193062.0,4.007000e+06,...,95939.000000,201364.625000,159702.5,744541.000000,491082.250000,241828.750000,110717.75,128677.625000,82275.2,104310.000000
2010,139754.000000,244185.600000,236141.666667,102312.000000,500183.0,214149.6,165214.000000,352735.0,194041.5,4.084649e+06,...,95764.000000,202419.000000,165674.0,737034.666667,502803.833333,239987.000000,110411.00,131257.000000,81884.6,104736.000000
2011,140771.000000,245053.000000,236420.000000,103598.500000,500183.0,212744.0,165214.000000,352735.0,195021.0,4.162297e+06,...,95589.000000,202419.000000,171645.5,729528.333333,514525.416667,239987.000000,110411.00,131257.000000,81494.0,104736.000000
2012,141788.000000,245053.000000,236420.000000,104885.000000,500183.0,212744.0,165214.000000,352735.0,195021.0,4.239946e+06,...,95589.000000,202419.000000,177617.0,722022.000000,526247.000000,239987.000000,110411.00,131257.000000,81494.0,104736.000000
2013,142805.000000,245053.000000,236420.000000,104885.000000,500183.0,212744.0,165214.000000,352735.0,195021.0,4.317594e+06,...,95589.000000,202419.000000,177617.0,722022.000000,526247.000000,239987.000000,110411.00,131257.000000,81494.0,104736.000000
2014,143822.000000,245053.000000,236420.000000,104885.000000,500183.0,212744.0,165214.000000,352735.0,195021.0,4.395243e+06,...,95589.000000,202419.000000,177617.0,722022.000000,526247.000000,239987.000000,110411.00,131257.000000,81494.0,104736.000000

It is not ideal that countries were assume a constant population after the year of its last available data.
I will choose a year with the most number of available data across all cities to compare their population.

In [215]:
# find the years with the most available data

pop_city.Year.value_counts().head() # 2010 it is

2010    1015
1990     972
2000     964
1991     784
2011     647
Name: Year, dtype: int64

In [245]:
# list the highest population in 2010 in descending orders
pop_fillna.iloc[41,:].sort_values(ascending = False)[:10]

city_name
Shanghai     2.231547e+07
Istanbul     1.289267e+07
Mumbai       1.238958e+07
Beijing      1.171662e+07
Moskva       1.161288e+07
Delhi        1.121885e+07
São Paulo    1.115234e+07
Tianjin      1.109031e+07
Guangzhou    1.107142e+07
Shenzhen     1.035838e+07
Name: 2010, dtype: float64

### 3. Find 10 ethnic groups with the largest overall populations (sum of best/latest estimates over all countries)

Use the latest population data of each country as the base, and multiply it by the percentage of each ethnic group to be finally summed across all countries. 
First create a data frame of country name, latest population, ethnic group name, and population percentage,
then compute a column wide multiplication.
The last step is to aggregate population by ethnic groups.

In [6]:
# create an empty list to store the results
output = []

# iterate through countries
for e in document.iterfind('country'):  
              
    # iterate through all ethnic groups
    for ethnic in e.getiterator('ethnicgroup'):  

        #get country name
        country_name = str(e.find('name').text)
        
        # get all population elements
        pops = e.findall('population')
        latest_pop = str(pops[-1].text) # take the text of the last population element
        
        # get the percentage of population for this thnic group
        eth_perc = float(ethnic.attrib.get('percentage'))
        
        # find the ethnicity name 
        ethnicity = str(ethnic.text)
        
        # put it all together in the list
        output += [[country_name, latest_pop, ethnicity, eth_perc]]

# create a data frame
ethnicity_df = pd.DataFrame(np.array(output), 
                            columns = ["country_name", "latest_pop", "ethnicity", "eth_perc"])

ethnicity_df.head()

  country_name latest_pop   ethnicity eth_perc
0      Albania    2800138    Albanian     95.0
1      Albania    2800138       Greek      3.0
2       Greece   10816286       Greek     93.0
3    Macedonia    2059794  Macedonian     64.2
4    Macedonia    2059794    Albanian     25.2

In [11]:
# compute the population of each ethnic group

# first convert data types
ethnicity_df.latest_pop = ethnicity_df.latest_pop.astype(int)
ethnicity_df.eth_perc = ethnicity_df.eth_perc.astype(float)

ethnicity_df = ethnicity_df.assign(group_pop = lambda df: df.latest_pop * df.eth_perc / 100)

ethnicity_df.head()

  country_name  latest_pop   ethnicity  eth_perc     group_pop
0      Albania     2800138    Albanian      95.0  2.660131e+06
1      Albania     2800138       Greek       3.0  8.400414e+04
2       Greece    10816286       Greek      93.0  1.005915e+07
3    Macedonia     2059794  Macedonian      64.2  1.322388e+06
4    Macedonia     2059794    Albanian      25.2  5.190681e+05

In [20]:
# aggregate the group population across all countries
# and then list the top 10 highest population ethnic groups
ethnicity_df.groupby('ethnicity')[['group_pop']].sum().sort_values('group_pop', ascending=False)[:10]

                group_pop
ethnicity
Han Chinese  1.245059e+09
Indo-Aryan   8.718156e+08
European     4.948722e+08
African      3.183251e+08
Dravidian    3.027137e+08
Mestizo      1.577344e+08
Bengali      1.467769e+08
Russian      1.318570e+08
Japanese     1.265342e+08
Malay        1.219936e+08

### 4. Find the country of a) longest river, b) largest lake and c) airport at highest elevation

First search for the river, lake and airport keywords in the document,find their attribute information, and then identify country name as well as river length, lake area and airport elevation.

In [37]:
for c in document.iter('river'):
     print (c.attrib) #.find('length').text

{'id': 'river-Thjorsa', 'country': 'IS'}
{'id': 'river-Joekulsa_a_Fjoellum', 'country': 'IS'}
{'id': 'river-Glomma', 'country': 'N'}
{'id': 'river-Lagen', 'country': 'N'}
{'id': 'river-Goetaaelv', 'country': 'S'}
{'id': 'river-Klaraelv', 'country': 'N S'}
{'id': 'river-Umeaelv', 'country': 'S'}
{'id': 'river-Dalaelv', 'country': 'S'}
{'id': 'river-Vaesterdalaelv', 'country': 'S'}
{'id': 'river-Oesterdalaelv', 'country': 'S'}
{'id': 'river-Paatsjoki', 'country': 'SF N R'}
{'id': 'river-Ounasjoki', 'country': 'SF'}
{'id': 'river-Kemijoki', 'country': 'SF'}
{'id': 'river-Oulujoki', 'country': 'SF'}
{'id': 'river-Kymijoki', 'country': 'SF'}
{'id': 'river-Kokemaeenjoki', 'country': 'SF'}
{'id': 'river-Vuoksi', 'country': 'SF R'}
{'id': 'river-Themse', 'country': 'GB'}
{'id': 'river-Maas', 'country': 'NL B F'}
{'id': 'river-Loire', 'country': 'F'}
{'id': 'river-Garonne', 'country': 'F E'}
{'id': 'river-Rhone', 'country': 'F CH'}
{'id': 'river-Saone', 'country': 'F'}
{'id': 'river-Doubs', 'country': 'F CH'}
{'id': 'river-Isere', 'country': 'F'}
{'id': 'river-Seine', 'country': 'F'}
{'id': 'river-Marne', 'country': 'F'}
{'id': 'river-Tajo', 'country': 'E P'}
{'id': 'river-Douro', 'country': 'E P'}
{'id': 'river-Guadiana', 'country': 'E P'}
{'id': 'river-Guadalquivir', 'country': 'E'}
{'id': 'river-Ebro', 'country': 'E'}
{'id': 'river-Po', 'country': 'I'}
{'id': 'river-Ticino', 'country': 'CH I'}
{'id': 'river-Adda', 'country': 'I'}
{'id': 'river-Mincio', 'country': 'I'}
{'id': 'river-Etsch', 'country': 'I'}
{'id': 'river-Tiber', 'country': 'I'}
{'id': 'river-Arno', 'country': 'I'}
{'id': 'river-Donau', 'country': 'SRB A D H HR SK BG RO MD UA'}
{'id': 'river-Breg', 'country': 'D'}
{'id': 'river-Brigach', 'country': 'D'}
{'id': 'river-Iller', 'country': 'D A'}
{'id': 'river-Lech', 'country': 'D A'}
{'id': 'river-Isar', 'country': 'D A'}
{'id': 'river-Ammer', 'country': 'D'}
{'id': 'river-Wurm', 'country': 'D'}
{'id': 'river-Inn', 'country': 'CH A D'}
{'id': 'river-Alz', 'country': 'D'}
{'id': 'river-Salzach', 'country': 'A D'}
{'id': 'river-Enns', 'country': 'A'}
{'id': 'river-March', 'country': 'CZ SK A'}
{'id': 'river-Raab', 'country': 'A H'}
{'id': 'river-Waag', 'country': 'SK'}
{'id': 'river-Drau', 'country': 'I A SLO HR H'}
{'id': 'river-Mur', 'country': 'A H SLO HR'}
{'id': 'river-Theiss', 'country': 'H UA SRB'}
{'id': 'river-Save', 'country': 'SLO HR BIH SRB'}
{'id': 'river-Drina', 'country': 'BIH SRB'}
{'id': 'river-Tara', 'country': 'MNE BIH'}
{'id': 'river-Piva', 'country': 'MNE BIH'}
{'id': 'river-Morava', 'country': 'SRB'}
{'id': 'river-WesternMorava', 'country': 'SRB'}
{'id': 'river-SouthernMorava', 'country': 'SRB KOS MK'}
{'id': 'river-Olt', 'country': 'RO'}
{'id': 'river-Pruth', 'country': 'RO MD UA'}
{'id': 'Dnjestr', 'country': 'UA MD'}
{'id': 'river-Weser', 'country': 'D'}
{'id': 'river-Aller', 'country': 'D'}
{'id': 'river-Leine', 'country': 'D'}
{'id': 'river-Werra', 'country': 'D'}
{'id': 'river-Fulda', 'country': 'D'}
{'id': 'river-Elbe', 'country': 'D CZ'}
{'id': 'river-Moldau', 'country': 'CZ'}
{'id': 'river-Rhein', 'country': 'D CH FL A F NL'}
{'id': 'river-Main', 'country': 'D'}
{'id': 'river-Mosel', 'country': 'D L F'}
{'id': 'river-Saar', 'country': 'D F'}
{'id': 'river-Neckar', 'country': 'D'}
{'id': 'river-Aare', 'country': 'CH'}
{'id': 'river-Reuss', 'country': 'CH'}
{'id': 'river-Limmat', 'country': 'CH'}
{'id': 'river-Oder', 'country': 'D PL CZ'}
{'id': 'river-Weichsel', 'country': 'PL'}
{'id': 'river-Narew', 'country': 'PL BY'}
{'id': 'river-WesternBug', 'country': 'PL BY UA'}
{'id': 'river-Moraca', 'country': 'MNE'}
{'id': 'river-Buna', 'country': 'AL MNE'}
{'id': 'river-Drin', 'country': 'AL'}
{'id': 'river-Weisser_Drin', 'country': 'AL KOS'}
{'id': 'river-Schwarzer_Drin', 'country': 'AL MK'}
{'id': 'river-Jordan', 'country': 'IL WEST JOR SYR RL'}
{'id': 'river-Kura', 'country': 'TR GE AZ'}
{'id': 'river-SchattAlArab', 'country': 'IRQ IR'}
{'id': 'river-Tigris', 'country': 'TR SYR IRQ'}
{'id': 'river-Euphrat', 'country': 'TR SYR IRQ'}
{'id': 'river-Murat', 'country': 'TR'}
{'id': 'river-Karasu', 'country': 'TR'}
{'id': 'river-Karun', 'country': 'IR'}
{'id': 'river-Noerdliche_Dwina', 'country': 'R'}
{'id': 'river-Suchona', 'country': 'R'}
{'id': 'river-Petschora', 'country': 'R'}
{'id': 'river-Newa', 'country': 'R'}
{'id': 'river-Swir', 'country': 'R'}
{'id': 'river-Narva', 'country': 'R EW'}
{'id': 'river-Westliche_Dwina', 'country': 'BY LV R'}
{'id': 'river-Dnister', 'country': 'UA MD'}
{'id': 'river-Dnepr', 'country': 'BY UA R'}
{'id': 'river-Prypjat', 'country': 'BY UA'}
{'id': 'river-Don', 'country': 'R'}
{'id': 'river-Wolga', 'country': 'R'}
{'id': 'river-Oka', 'country': 'R'}
{'id': 'river-Kama', 'country': 'R'}
{'id': 'river-Ural', 'country': 'R KAZ'}
{'id': 'river-Ob', 'country': 'R'}
{'id': 'river-Irtysch', 'country': 'R KAZ CN'}
{'id': 'river-Tobol', 'country': 'R KAZ'}
{'id': 'river-Ischim', 'country': 'R KAZ'}
{'id': 'river-Katun', 'country': 'R'}
{'id': 'river-Jenissej', 'country': 'R'}
{'id': 'river-Angara', 'country': 'R'}
{'id': 'river-Selenge', 'country': 'R MNG'}
{'id': 'river-Chatanga', 'country': 'R'}
{'id': 'river-Lena', 'country': 'R'}
{'id': 'river-Amur', 'country': 'R CN'}
{'id': 'river-Schilka', 'country': 'R'}
{'id': 'river-Argun', 'country': 'R CN'}
{'id': 'river-Kolyma', 'country': 'R'}
{'id': 'river-Syrdarja', 'country': 'KAZ UZB TAD'}
{'id': 'river-Naryn', 'country': 'UZB KGZ'}
{'id': 'river-Amudarja', 'country': 'TAD AFG TM UZB'}
{'id': 'river-Pjandsh', 'country': 'AFG TAD'}
{'id': 'river-Bartang', 'country': 'TAD'}
{'id': 'river-Murgab', 'country': 'TAD AFG'}
{'id': 'river-Ili', 'country': 'CN KAZ'}
{'id': 'river-Tarim', 'country': 'CN'}
{'id': 'river-Hwangho', 'country': 'CN'}
{'id': 'river-Jangtse', 'country': 'CN'}
{'id': 'river-Mekong', 'country': 'CN LAO THA K VN'}
{'id': 'river-Saluen', 'country': 'MYA CN'}
{'id': 'river-Irawaddy', 'country': 'MYA CN'}
{'id': 'river-Ganges', 'country': 'IND BD'}
{'id': 'river-Brahmaputra', 'country': 'CN IND BD'}
{'id': 'river-Indus', 'country': 'PK IND CN'}
{'id': 'river-Asahan', 'country': 'RI'}
{'id': 'river-Yukon', 'country': 'CDN USA'}
{'id': 'river-Mackenzie', 'country': 'CDN'}
{'id': 'river-NelsonRiver', 'country': 'CDN'}
{'id': 'river-SaskatchewanRiver', 'country': 'CDN'}
{'id': 'river-StLorenzstrom', 'country': 'CDN USA'}
{'id': 'river-NiagaraRiver', 'country': 'CDN USA'}
{'id': 'river-DetroitRiver', 'country': 'CDN USA'}
{'id': 'river-Saint-Marys-River', 'country': 'CDN USA'}
{'id': 'river-Straits-of-Mackinac', 'country': 'USA'}
{'id': 'river-Manicouagan', 'country': 'CDN'}
{'id': 'river-Richelieu', 'country': 'CDN'}
{'id': 'river-MerrimackRiver', 'country': 'USA'}
{'id': 'river-Connecticut_River', 'country': 'USA'}
{'id': 'river-Hudson_River', 'country': 'USA'}
{'id': 'river-Mississippi_River', 'country': 'USA'}
{'id': 'river-Missouri_River', 'country': 'USA'}
{'id': 'river-Arkansas_River', 'country': 'USA'}
{'id': 'river-Ohio', 'country': 'USA'}
{'id': 'river-Allegheny', 'country': 'USA'}
{'id': 'river-TennesseeRiver', 'country': 'USA'}
{'id': 'river-Columbia_River', 'country': 'CDN USA'}
{'id': 'river-TruckeeRiver', 'country': 'USA'}
{'id': 'river-Colorado_River', 'country': 'MEX USA'}
{'id': 'river-RioGrande', 'country': 'MEX USA'}
{'id': 'river-RioLerma', 'country': 'MEX'}
{'id': 'river-RioSanJuan', 'country': 'NIC CR'}
{'id': 'river-Desaguadero', 'country': 'BOL'}
{'id': 'river-RioMagdalena', 'country': 'CO'}
{'id': 'river-Orinoco', 'country': 'YV CO'}
{'id': 'river-Amazonas', 'country': 'CO BR PE'}
{'id': 'river-RioNegro', 'country': 'BR CO'}
{'id': 'river-RioMadeira', 'country': 'BR BOL'}
{'id': 'river-RioMamore', 'country': 'BOL'}
{'id': 'river-Tocantins', 'country': 'BR'}
{'id': 'river-RioSaoFrancisco', 'country': 'BR'}
{'id': 'river-Parana', 'country': 'RA BR PY'}
{'id': 'river-Paraguay', 'country': 'RA BR PY'}
{'id': 'river-Uruguay', 'country': 'BR ROU RA'}
{'id': 'river-Gambia', 'country': 'RG WAG SN'}
{'id': 'river-Senegal', 'country': 'RMM RIM SN RG'}
{'id': 'river-Volta', 'country': 'GH BF'}
{'id': 'river-Niger', 'country': 'RMM RN WAN RG'}
{'id': 'river-Bani', 'country': 'RMM CI'}
{'id': 'river-Benue', 'country': 'WAN CAM'}
{'id': 'river-Schari', 'country': 'TCH CAM RCA'}
{'id': 'river-Nil', 'country': 'ET SUD'}
{'id': 'river-Atbara', 'country': 'SUD ETH'}
{'id': 'river-Blauer_Nil', 'country': 'SUD ETH'}
{'id': 'river-Weisser_Nil', 'country': 'SUD SSD'}
{'id': 'river-Sobat', 'country': 'SSD'}
{'id': 'river-Pibor', 'country': 'SSD ETH'}
{'id': 'river-Baro', 'country': 'SSD ETH'}
{'id': 'river-Bahr_el-Gasal', 'country': 'SSD'}
{'id': 'river-Bahr_el-Djebel', 'country': 'SSD EAU'}
{'id': 'river-Semliki', 'country': 'ZRE EAU'}
{'id': 'river-ViktoriaNil', 'country': 'EAU'}
{'id': 'river-Akagera', 'country': 'EAT RWA EAU'}
{'id': 'river-Jubba', 'country': 'ETH SP'}
{'id': 'river-Shabelle', 'country': 'ETH SP'}
{'id': 'river-Sanaga', 'country': 'CAM'}
{'id': 'river-Zaire', 'country': 'RCB ZRE'}
{'id': 'river-Sanga', 'country': 'CAM RCA RCB'}
{'id': 'river-Ubangi', 'country': 'ZRE RCA RCB'}
{'id': 'river-Bomu', 'country': 'ZRE RCA'}
{'id': 'river-Uelle', 'country': 'ZRE'}
{'id': 'river-Kwa', 'country': 'ZRE'}
{'id': 'river-Fimi', 'country': 'ZRE'}
{'id': 'river-Lukenie', 'country': 'ZRE'}
{'id': 'river-Kasai', 'country': 'ANG ZRE'}
{'id': 'river-Kuango', 'country': 'ANG ZRE'}
{'id': 'river-Kwilu', 'country': 'ANG ZRE'}
{'id': 'river-Ruki', 'country': 'ZRE'}
{'id': 'river-Busira', 'country': 'ZRE'}
{'id': 'river-Tshuapa', 'country': 'ZRE'}
{'id': 'river-Lulua', 'country': 'ZRE'}
{'id': 'river-Lomami', 'country': 'ZRE'}
{'id': 'river-Aruwimi', 'country': 'ZRE'}
{'id': 'river-Lualaba', 'country': 'ZRE'}
{'id': 'river-Lukuga', 'country': 'ZRE'}
{'id': 'river-Ruzizi', 'country': 'ZRE RWA BI'}
{'id': 'river-Luvua', 'country': 'ZRE'}
{'id': 'river-Luapula', 'country': 'ZRE Z'}
{'id': 'river-Sambesi', 'country': 'ANG NAM RB Z ZW MOC'}
{'id': 'river-Shire', 'country': 'MW MOC'}
{'id': 'Okavango', 'country': 'ANG NAM RB'}
{'id': 'river-Limpopo', 'country': 'RSA MOC ZW RB'}
{'id': 'river-Oranje', 'country': 'LS NAM RSA'}
{'id': 'river-Vaal', 'country': 'RSA'}
{'id': 'river-MurrayRiver', 'country': 'AUS'}
{'id': 'river-DarlingRiver', 'country': 'AUS'}
{'id': 'river-MurrumbidgeeRiver', 'country': 'AUS'}
{'id': 'river-Eucumbene', 'country': 'AUS'}
{'id': 'river-SnowyRiver', 'country': 'AUS'}

In [30]:
for c in document.iter('lake'):
     print (c.attrib)

{'id': 'lake-Inarisee', 'country': 'SF'}
{'id': 'lake-Oulujaervi', 'country': 'SF'}
{'id': 'lake-Kallavesi', 'country': 'SF'}
{'id': 'lake-Saimaa', 'country': 'SF'}
{'id': 'lake-Paeijaenne', 'country': 'SF'}
{'id': 'lake-MjoesaSee', 'country': 'N'}
{'id': 'lake-Storuman', 'country': 'S'}
{'type': 'impact', 'id': 'lake-Siljan', 'country': 'S'}
{'id': 'lake-Maelarsee', 'country': 'S'}
{'id': 'lake-Vaenersee', 'country': 'S'}
{'id': 'lake-Vaettersee', 'country': 'S'}
{'id': 'lake-Arresoe', 'country': 'DK'}
{'id': 'lake-LochNess', 'country': 'GB'}
{'id': 'lake-LochLomond', 'country': 'GB'}
{'id': 'lake-Bodensee', 'country': 'A D CH'}
{'id': 'lake-Chiemsee', 'country': 'D'}
{'id': 'lake-StarnbergerSee', 'country': 'D'}
{'id': 'lake-Ammersee', 'country': 'D'}
{'type': 'caldera', 'id': 'lake-LaacherMaar', 'country': 'D'}
{'id': 'lake-Genfer_See', 'country': 'F CH'}
{'id': 'lake-Zurichsee', 'country': 'CH'}
{'id': 'lake-Thunersee', 'country': 'CH'}
{'id': 'lake-Brienzersee', 'country': 'CH'}
{'id': 'lake-Vierwaldstattersee', 'country': 'CH'}
{'id': 'lake-Lago_Maggiore', 'country': 'I CH'}
{'id': 'lake-Comer_See', 'country': 'I'}
{'id': 'lake-Gardasee', 'country': 'I'}
{'type': 'caldera', 'id': 'lake-Trasimeno', 'country': 'I'}
{'type': 'caldera', 'id': 'lake-Bolsena', 'country': 'I'}
{'type': 'caldera', 'id': 'lake-Bracciano', 'country': 'I'}
{'id': 'lake-LagunaDeGallocanta', 'country': 'E'}
{'id': 'lake-Neusiedlersee', 'country': 'A H'}
{'id': 'lake-Balaton', 'country': 'H'}
{'id': 'lake-Skutarisee', 'country': 'AL MNE'}
{'id': 'lake-Prespasee', 'country': 'AL MK GR'}
{'id': 'lake-Ohridsee', 'country': 'AL MK'}
{'type': 'dam', 'id': 'lake-KievReservoir', 'country': 'UA'}
{'type': 'dam', 'id': 'lake-KakhovkaReservoir', 'country': 'UA'}
{'type': 'dam', 'id': 'lake-KremenchukReservoir', 'country': 'UA'}
{'type': 'dam', 'id': 'lake-KuybyshevReservoir', 'country': 'R'}
{'id': 'lake-Ladogasee', 'country': 'R'}
{'id': 'lake-Onegasee', 'country': 'R'}
{'id': 'lake-Pskowsee', 'country': 'R EW'}
{'id': 'lake-Baikalsee', 'country': 'R'}
{'id': 'lake-Taimyrsee', 'country': 'R'}
{'id': 'lake-Chankasee', 'country': 'R CN'}
{'id': 'lake-Tschanysee', 'country': 'R'}
{'type': 'salt', 'id': 'lake-DeadSea', 'country': 'IL JOR WEST'}
{'id': 'lake-SeeGenezareth', 'country': 'IL SYR'}
{'type': 'salt', 'id': 'lake-Vansee', 'country': 'TR'}
{'id': 'lake-Keban', 'country': 'TR'}
{'type': 'salt', 'id': 'lake-Urmia', 'country': 'IR'}
{'type': 'salt', 'id': 'lake-Namak_See', 'country': 'IR'}
{'type': 'salt', 'id': 'lake-Hamune_Jazmurian_See', 'country': 'IR'}
{'type': 'salt', 'id': 'lake-KaspischesMeer', 'country': 'R AZ KAZ IR TM'}
{'type': 'salt', 'id': 'lake-Aralsee', 'country': 'UZB KAZ'}
{'type': 'salt', 'id': 'lake-Balchaschsee', 'country': 'KAZ'}
{'type': 'salt', 'id': 'lake-Issyk-Kul', 'country': 'KGZ'}
{'type': 'naturaldam', 'id': 'lake-Sarez', 'country': 'TAD'}
{'type': 'salt', 'id': 'lake-LopNor', 'country': 'CN'}
{'id': 'lake-LagunaDeBay', 'country': 'RP'}
{'island': 'island-Sumatra', 'id': 'lake-Toba', 'country': 'RI', 'type': 'caldera'}
{'island': 'island-Lombok', 'id': 'lake-SegaraAnak', 'country': 'RI', 'type': 'caldera'}
{'type': 'salt', 'id': 'lake-Qinghai', 'country': 'CN'}
{'type': 'salt', 'id': 'lake-NamCo', 'country': 'CN'}
{'type': 'dam', 'id': 'lake-Nassersee', 'country': 'ET SUD'}
{'type': 'dam', 'id': 'lake-Voltastausee', 'country': 'GH'}
{'type': 'impact', 'id': 'lake-Bosumtwi', 'country': 'GH'}
{'type': 'dam', 'id': 'lake-Kainji-Stausee', 'country': 'WAN'}
{'type': 'salt', 'id': 'lake-Tschadsee', 'country': 'RN WAN TCH CAM'}
{'type': 'dam', 'id': 'lake-M_Bakau-Stausee', 'country': 'CAM'}
{'type': 'caldera', 'id': 'lake-Nyos', 'country': 'CAM'}
{'type': 'salt', 'id': 'lake-Assalesee', 'country': 'DJI'}
{'type': 'salt', 'id': 'lake-LakeAbbe', 'country': 'DJI ETH'}
{'type': 'salt', 'id': 'lake-Abayasee', 'country': 'ETH'}
{'type': 'salt', 'id': 'lake-Stefaniesee', 'country': 'ETH EAK'}
{'type': 'salt', 'id': 'lake-Rudolfsee', 'country': 'ETH EAK'}
{'id': 'lake-Tanasee', 'country': 'ETH'}
{'id': 'lake-Albertsee', 'country': 'EAU ZRE'}
{'id': 'lake-Rutanzige', 'country': 'ZRE EAU'}
{'id': 'lake-Kiogasee', 'country': 'EAU'}
{'id': 'lake-Victoriasee', 'country': 'EAT EAK EAU'}
{'id': 'lake-Kiwusee', 'country': 'ZRE RWA'}
{'id': 'lake-Tanganjikasee', 'country': 'ZRE Z BI EAT'}
{'id': 'lake-Mwerusee', 'country': 'ZRE Z'}
{'id': 'lake-Bangweolosee', 'country': 'Z'}
{'type': 'salt', 'id': 'lake-Rukwasee', 'country': 'EAT'}
{'type': 'salt', 'id': 'lake-Ejassisee', 'country': 'EAT'}
{'type': 'salt', 'id': 'lake-Natronsee', 'country': 'EAT'}
{'id': 'lake-Malawi', 'country': 'MW MOC EAT'}
{'type': 'salt', 'id': 'lake-Chilwasee', 'country': 'MW MOC'}
{'id': 'lake-MaiNdombe', 'country': 'ZRE'}
{'id': 'lake-Malebo-Pool', 'country': 'RCB ZRE'}
{'type': 'dam', 'id': 'lake-Cabora-Bassa-See', 'country': 'MOC'}
{'type': 'dam', 'id': 'lake-Karibasee', 'country': 'Z ZW'}
{'type': 'salt', 'id': 'lake-Ngamisee', 'country': 'RB'}
{'type': 'salt', 'id': 'lake-Etoschapfanne', 'country': 'NAM'}
{'type': 'salt', 'id': 'lake-Makarikarisalzpfanne', 'country': 'RB'}
{'id': 'lake-Great_Bear_Lake', 'country': 'CDN'}
{'id': 'lake-Great_Slave_Lake', 'country': 'CDN'}
{'id': 'lake-AtlinLake', 'country': 'CDN'}
{'id': 'lake-Lake_Winnipeg', 'country': 'CDN'}
{'id': 'lake-Lake_Nipigon', 'country': 'CDN'}
{'type': 'impact', 'id': 'lake-Manicouagan', 'country': 'CDN'}
{'id': 'lake-Lake_Ontario', 'country': 'CDN USA'}
{'id': 'lake-Lake_Erie', 'country': 'CDN USA'}
{'id': 'lake-Lake_Huron', 'country': 'CDN USA'}
{'island': 'island-Manitoulin', 'id': 'lake-Lake_Manitou', 'country': 'CDN'}
{'id': 'lake-Lake_Michigan', 'country': 'USA'}
{'id': 'lake-Lake_Superior', 'country': 'CDN USA'}
{'id': 'lake-Champlain', 'country': 'USA CDN'}
{'id': 'lake-Lake_Winnipesaukee', 'country': 'USA'}
{'id': 'lake-Lake_Okeechobee', 'country': 'USA'}
{'id': 'lake-Kentucky_Lake', 'country': 'USA'}
{'id': 'lake-Chickamauga_Lake', 'country': 'USA'}
{'type': 'dam', 'id': 'lake-F-D-R-_Lake', 'country': 'USA'}
{'type': 'caldera', 'id': 'lake-CraterLake', 'country': 'USA'}
{'type': 'salt', 'id': 'lake-Great_Salt_Lake', 'country': 'USA'}
{'id': 'lake-Lake_Tahoe', 'country': 'USA'}
{'type': 'salt', 'id': 'lake-PyramidLake', 'country': 'USA'}
{'type': 'dam', 'id': 'lake-Lake_Powell', 'country': 'USA'}
{'type': 'dam', 'id': 'lake-Lake_Mead', 'country': 'USA'}
{'type': 'dam', 'id': 'lake-FortPeckLake', 'country': 'USA'}
{'type': 'dam', 'id': 'lake-Sakakawea', 'country': 'USA'}
{'type': 'dam', 'id': 'lake-LakeOahe', 'country': 'USA'}
{'id': 'lake-Lago_de_Chapala', 'country': 'MEX'}
{'id': 'lake-Nicaragua_See', 'country': 'NIC CR'}
{'id': 'lake-Managua', 'country': 'NIC'}
{'type': 'acid', 'id': 'lake-IrazuLake', 'country': 'CR'}
{'id': 'lake-Maracaibo_See', 'country': 'YV'}
{'type': 'dam', 'id': 'lake-LagoSobradinho', 'country': 'BR'}
{'id': 'lake-Titicaca_See', 'country': 'BOL PE'}
{'type': 'salt', 'id': 'lake-Poopo', 'country': 'BOL'}
{'type': 'salt', 'id': 'lake-SalarDeUyuni', 'country': 'BOL'}
{'type': 'crater', 'id': 'lake-LicancaburCrater', 'country': 'RCH BOL'}
{'type': 'salt', 'id': 'lake-LagunaMarChiquita', 'country': 'RA'}
{'type': 'salt', 'id': 'lake-Eyre_See', 'country': 'AUS'}
{'type': 'dam', 'id': 'lake-LakeBurleyGriffin', 'country': 'AUS'}
{'type': 'dam', 'id': 'lake-LakeEucumbene', 'country': 'AUS'}
{'type': 'dam', 'id': 'lake-LakeJindabyne', 'country': 'AUS'}
{'id': 'lake-LakeHume', 'country': 'AUS'}

In [29]:
airports = document.findall('airport')

for c in airports:
     print (c.attrib)

{'city': 'cty-Afghanistan-2', 'iatacode': 'HEA', 'country': 'AFG'}
{'city': 'cty-Afghanistan-Kabul', 'iatacode': 'KBL', 'country': 'AFG'}
{'city': 'cty-Albania-Tirane', 'iatacode': 'TIA', 'country': 'AL'}
{'city': 'cty-Algeria-14', 'iatacode': 'TEE', 'country': 'DZ'}
{'city': 'cty-Algeria-6', 'iatacode': 'BLJ', 'country': 'DZ'}
{'city': 'cty-Algeria-11', 'iatacode': 'BJA', 'country': 'DZ'}
{'city': 'cty-Algeria-19', 'iatacode': 'TMR', 'country': 'DZ'}
{'city': 'cty-Algeria-17', 'iatacode': 'BSK', 'country': 'DZ'}
{'city': 'cty-Algeria-4', 'iatacode': 'CZL', 'country': 'DZ'}
{'city': 'cty-Algeria-7', 'iatacode': 'QSF', 'country': 'DZ'}
{'city': 'cty-Algeria-3', 'iatacode': 'ORN', 'country': 'DZ'}
{'city': 'cty-Algeria-21', 'iatacode': 'GHA', 'country': 'DZ'}
{'city': 'cty-Algeria-5', 'iatacode': 'AAE', 'country': 'DZ'}
{'city': 'cty-Algeria-Algiers', 'iatacode': 'ALG', 'country': 'DZ'}
{'city': 'cty-Algeria-13', 'iatacode': 'TLM', 'country': 'DZ'}
{'city': 'city-Pago-Pago-AMSA-AMSA', 'iatacode': 'PPG', 'country': 'AMSA'}
{'city': 'cty-Angola-Lubango', 'iatacode': 'SDD', 'country': 'ANG'}
{'city': 'cty-Angola-Cabinda', 'iatacode': 'CAB', 'country': 'ANG'}
{'city': 'cty-Angola-Menongue', 'iatacode': 'SPP', 'country': 'ANG'}
{'city': 'cty-Angola-Luanda', 'iatacode': 'LAD', 'country': 'ANG'}
{'city': 'cty-Angola-Huambo', 'iatacode': 'NOV', 'country': 'ANG'}
{'city': 'city-The-Valley-AXA-AXA', 'iatacode': 'AXA', 'country': 'AXA'}
{'city': 'cty-Antigua-and-Barbuda-Saint-Johns', 'iatacode': 'ANU', 'country': 'AG'}
{'city': 'cty-Argentina-37', 'iatacode': 'IRJ', 'country': 'RA'}
{'city': 'cty-Argentina-28', 'iatacode': 'JUJ', 'country': 'RA'}
{'city': 'cty-Argentina-23', 'iatacode': 'BHI', 'country': 'RA'}
{'city': 'cty-Argentina-9', 'iatacode': 'TUC', 'country': 'RA'}
{'city': 'cty-Argentina-36', 'iatacode': 'LUQ', 'country': 'RA'}
{'city': 'cty-Argentina-22', 'iatacode': 'SDE', 'country': 'RA'}
{'city': 'cty-Argentina-15', 'iatacode': 'SFN', 'country': 'RA'}
{'city': 'cty-Argentina-24', 'iatacode': 'CNQ', 'country': 'RA'}
{'city': 'cty-Argentina-25', 'iatacode': 'NQN', 'country': 'RA'}
{'city': 'cty-Argentina-16', 'iatacode': 'SLA', 'country': 'RA'}
{'city': 'cty-Argentina-Buenos-Aires', 'iatacode': 'AEP', 'country': 'RA'}
{'city': 'cty-Argentina-Buenos-Aires', 'iatacode': 'EZE', 'country': 'RA'}
{'city': 'cty-Argentina-Ushuaia', 'iatacode': 'USH', 'country': 'RA'}
{'city': 'cty-Argentina-29', 'iatacode': 'FMA', 'country': 'RA'}
{'city': 'cty-Argentina-27', 'iatacode': 'PSS', 'country': 'RA'}
{'city': 'cty-Argentina-4', 'iatacode': 'ROS', 'country': 'RA'}
{'city': 'cty-Argentina-20', 'iatacode': 'RES', 'country': 'RA'}
{'city': 'cty-Argentina-Rio-Gallegos', 'iatacode': 'RGL', 'country': 'RA'}
{'city': 'cty-Argentina-32', 'iatacode': 'CRD', 'country': 'RA'}
{'city': 'cty-Argentina-11', 'iatacode': 'MDQ', 'country': 'RA'}
{'city': 'cty-Argentina-6', 'iatacode': 'MDZ', 'country': 'RA'}
{'city': 'cty-Argentina-Cordoba', 'iatacode': 'COR', 'country': 'RA'}
{'city': 'cty-Armenia-Yerevan', 'iatacode': 'EVN', 'country': 'ARM'}
{'city': 'city-Oranjestad-ARU-ARU', 'iatacode': 'AUA', 'country': 'ARU'}
{'city': 'cty-Australia-Melbourne', 'iatacode': 'MEL', 'country': 'AUS'}
{'city': 'cty-Australia-Sydney', 'iatacode': 'SYD', 'country': 'AUS'}
{'city': 'cty-Australia-Cairns', 'iatacode': 'CNS', 'country': 'AUS'}
{'city': 'cty-Australia-13', 'iatacode': 'TSV', 'country': 'AUS'}
{'city': 'cty-Australia-Brisbane', 'iatacode': 'BNE', 'country': 'AUS'}
{'city': 'cty-Australia-8', 'iatacode': 'CBR', 'country': 'AUS'}
{'city': 'cty-Australia-Adelaide', 'iatacode': 'ADL', 'country': 'AUS'}
{'city': 'cty-Australia-7', 'iatacode': 'NTL', 'country': 'AUS'}
{'city': 'cty-Australia-Darwin', 'iatacode': 'DRW', 'country': 'AUS'}
{'city': 'cty-Australia-Perth', 'iatacode': 'PER', 'country': 'AUS'}
{'city': 'cty-Australia-11', 'iatacode': 'HBA', 'country': 'AUS'}
{'city': 'cty-Austria-5', 'iatacode': 'SZG', 'country': 'A'}
{'city': 'cty-Austria-4', 'iatacode': 'LNZ', 'country': 'A'}
{'city': 'cty-Austria-6', 'iatacode': 'INN', 'country': 'A'}
{'city': 'cty-Austria-Vienna', 'iatacode': 'VIE', 'country': 'A'}
{'city': 'cty-Austria-3', 'iatacode': 'GRZ', 'country': 'A'}
{'city': 'cty-Austria-Klagenfurt', 'iatacode': 'KLU', 'country': 'A'}
{'city': 'cty-Azerbaijan-Baku', 'iatacode': 'GYD', 'country': 'AZ'}
{'city': 'cty-Bahamas-Nassau', 'iatacode': 'NAS', 'country': 'BS'}
{'city': 'cty-Bahrain-Manama', 'iatacode': 'BAH', 'country': 'BRN'}
{'city': 'cty-BD-3', 'iatacode': 'DAC', 'country': 'BD'}
{'city': 'cty-BD-2', 'iatacode': 'CGP', 'country': 'BD'}
{'city': 'cty-Barbados-Bridgetown', 'iatacode': 'BGI', 'country': 'BDS'}
{'city': 'cty-Belarus-Minsk', 'iatacode': 'MSQ', 'country': 'BY'}
{'city': 'cty-Belgium-3-0', 'iatacode': 'ANR', 'country': 'B'}
{'city': 'cty-Belgium-5-0', 'iatacode': 'CRL', 'country': 'B'}
{'city': 'cty-Belgium-6-0', 'iatacode': 'LGG', 'country': 'B'}
{'city': 'cty-Belgium-Brussels', 'iatacode': 'BRU', 'country': 'B'}
{'city': 'cty-Belize-Belize', 'iatacode': 'BZE', 'country': 'BZ'}
{'city': 'cty-Benin-Cotonou', 'iatacode': 'COO', 'country': 'BEN'}
{'city': 'city-Hamilton-BERM-BERM', 'iatacode': 'BDA', 'country': 'BERM'}
{'city': 'cty-Bhutan-Thimphu', 'iatacode': 'PBH', 'country': 'BHT'}
{'city': 'cty-BOL-6', 'iatacode': 'CIJ', 'country': 'BOL'}
{'city': 'cty-BOL-1', 'iatacode': 'LPB', 'country': 'BOL'}
{'city': 'cty-BOL-4', 'iatacode': 'VVI', 'country': 'BOL'}
{'city': 'cty-BOL-7', 'iatacode': 'SRE', 'country': 'BOL'}
{'city': 'cty-BOL-5', 'iatacode': 'TDD', 'country': 'BOL'}
{'city': 'cty-BOL-9', 'iatacode': 'TJA', 'country': 'BOL'}
{'city': 'cty-BOL-8', 'iatacode': 'CBB', 'country': 'BOL'}
{'city': 'cty-BIH-1', 'iatacode': 'SJJ', 'country': 'BIH'}
{'city': 'cty-Botswana-Gaborone', 'iatacode': 'GBE', 'country': 'RB'}
{'city': 'cty-Brazil-Recife', 'iatacode': 'REC', 'country': 'BR'}
{'city': 'cty-Brazil-Brasilia', 'iatacode': 'BSB', 'country': 'BR'}
{'city': 'cty-Brazil-134', 'iatacode': 'BVB', 'country': 'BR'}
{'city': 'cty-Brazil-34', 'iatacode': 'UDI', 'country': 'BR'}
{'city': 'cty-Brazil-19', 'iatacode': 'MCZ', 'country': 'BR'}
{'city': 'cty-Brazil-93', 'iatacode': 'MCP', 'country': 'BR'}
{'city': 'cty-Brazil-12', 'iatacode': 'MAO', 'country': 'BR'}
{'city': 'cty-Brazil-71', 'iatacode': 'VIX', 'country': 'BR'}
{'city': 'cty-Brazil-Curitiba', 'iatacode': 'CWB', 'country': 'BR'}
{'city': 'cty-Brazil-74', 'iatacode': 'STM', 'country': 'BR'}
{'city': 'cty-Brazil-40', 'iatacode': 'LDB', 'country': 'BR'}
{'city': 'cty-Brazil-36', 'iatacode': 'CGB', 'country': 'BR'}
{'city': 'cty-Brazil-26', 'iatacode': 'CGR', 'country': 'BR'}
{'city': 'cty-Brazil-Sao-Paulo', 'iatacode': 'CGH', 'country': 'BR'}
{'city': 'cty-Brazil-3', 'iatacode': 'SDU', 'country': 'BR'}
{'city': 'cty-Brazil-Salvador', 'iatacode': 'SSA', 'country': 'BR'}
{'city': 'cty-Brazil-Belo-Horizonte', 'iatacode': 'CNF', 'country': 'BR'}
{'city': 'cty-Brazil-18', 'iatacode': 'SLZ', 'country': 'BR'}
{'city': 'cty-Brazil-15', 'iatacode': 'CPQ', 'country': 'BR'}
{'city': 'cty-Brazil-15', 'iatacode': 'VCP', 'country': 'BR'}
{'city': 'cty-Brazil-38', 'iatacode': 'AJU', 'country': 'BR'}
{'city': 'cty-Brazil-78', 'iatacode': 'UBA', 'country': 'BR'}
{'city': 'cty-Brazil-Belem', 'iatacode': 'BEL', 'country': 'BR'}
{'city': 'cty-Brazil-23', 'iatacode': 'THE', 'country': 'BR'}
{'city': 'cty-Brazil-22', 'iatacode': 'NAT', 'country': 'BR'}
{'city': 'cty-Brazil-54', 'iatacode': 'PET', 'country': 'BR'}
{'city': 'cty-Brazil-31', 'iatacode': 'RAO', 'country': 'BR'}
{'city': 'cty-Brazil-203', 'iatacode': 'RVD', 'country': 'BR'}
{'city': 'cty-Brazil-81', 'iatacode': 'GVR', 'country': 'BR'}
{'city': 'cty-Brazil-99', 'iatacode': 'IPN', 'country': 'BR'}
{'city': 'cty-Brazil-50', 'iatacode': 'CXJ', 'country': 'BR'}
{'city': 'cty-Brazil-3', 'iatacode': 'GIG', 'country': 'BR'}
{'city': 'cty-Brazil-Fortaleza', 'iatacode': 'FOR', 'country': 'BR'}
{'city': 'cty-Brazil-Belo-Horizonte', 'iatacode': 'PLU', 'country': 'BR'}
{'city': 'cty-Brazil-58', 'iatacode': 'PVH', 'country': 'BR'}
{'city': 'cty-Brazil-13', 'iatacode': 'GYN', 'country': 'BR'}
{'city': 'cty-Brazil-Porto-Alegre', 'iatacode': 'POA', 'country': 'BR'}
{'city': 'cty-Brazil-Sao-Paulo', 'iatacode': 'GRU', 'country': 'BR'}
{'city': 'cty-Brazil-87', 'iatacode': 'IMP', 'country': 'BR'}
{'city': 'cty-Brazil-75', 'iatacode': 'IOS', 'country': 'BR'}
{'city': 'city-Road-Town-BVIR-BVIR', 'iatacode': 'EIS', 'country': 'BVIR'}
{'city': 'cty-Brunei-Bandar-Seri-Begawan', 'iatacode': 'BWN', 'country': 'BRU'}
{'city': 'cty-Bulgaria-4', 'iatacode': 'BOJ', 'country': 'BG'}
{'city': 'cty-Bulgaria-3', 'iatacode': 'VAR', 'country': 'BG'}
{'city': 'cty-Bulgaria-2', 'iatacode': 'PDV', 'country': 'BG'}
{'city': 'cty-Bulgaria-1', 'iatacode': 'SOF', 'country': 'BG'}
{'city': 'cty-Burkina-BoboDioulasso', 'iatacode': 'BOY', 'country': 'BF'}
{'city': 'cty-Burkina-Faso-Ouagadougou', 'iatacode': 'OUA', 'country': 'BF'}
{'city': 'cty-Burma-Mandalay', 'iatacode': 'MDL', 'country': 'MYA'}
{'city': 'cty-Burma-Rangoon', 'iatacode': 'RGN', 'country': 'MYA'}
{'city': 'cty-Burundi-Bujumbura', 'iatacode': 'BJM', 'country': 'BI'}
{'city': 'cty-Cambodia-Phnom-Penh', 'iatacode': 'PNH', 'country': 'K'}
{'city': 'cty-Cameroon-2', 'iatacode': 'DLA', 'country': 'CAM'}
{'city': 'cty-Cameroon-3', 'iatacode': 'NSI', 'country': 'CAM'}
{'city': 'cty-Canada-Gander', 'iatacode': 'YQX', 'country': 'CDN'}
{'city': 'cty-Canada-Whitehorse', 'iatacode': 'YXY', 'country': 'CDN'}
{'city': 'cty-Canada-Iqaluit', 'iatacode': 'YFB', 'country': 'CDN'}
{'city': 'cty-Canada-Saint-Johns', 'iatacode': 'YYT', 'country': 'CDN'}
{'city': 'cty-Canada-4', 'iatacode': 'YYZ', 'country': 'CDN'}
{'city': 'cty-Canada-3', 'iatacode': 'YYC', 'country': 'CDN'}
{'city': 'cty-Canada-Victoria', 'iatacode': 'YYJ', 'country': 'CDN'}
{'city': 'cty-Canada-15', 'iatacode': 'YXU', 'country': 'CDN'}
{'city': 'cty-Canada-19', 'iatacode': 'YXE', 'country': 'CDN'}
{'city': 'cty-Canada-Yellowknife', 'iatacode': 'YZF', 'country': 'CDN'}
{'city': 'cty-Canada-22', 'iatacode': 'YQB', 'country': 'CDN'}
{'city': 'cty-Canada-32', 'iatacode': 'YQT', 'country': 'CDN'}
{'city': 'cty-Canada-20', 'iatacode': 'YQR', 'country': 'CDN'}
{'city': 'cty-Canada-13', 'iatacode': 'YOW', 'country': 'CDN'}
{'city': 'cty-Canada-2', 'iatacode': 'YUL', 'country': 'CDN'}
{'city': 'cty-Canada-4', 'iatacode': 'YTZ', 'country': 'CDN'}
{'city': 'cty-Canada-5', 'iatacode': 'YWG', 'country': 'CDN'}
{'city': 'cty-Canada-9', 'iatacode': 'YVR', 'country': 'CDN'}
{'city': 'cty-Canada-11', 'iatacode': 'YHM', 'country': 'CDN'}
{'city': 'cty-Canada-31', 'iatacode': 'YHZ', 'country': 'CDN'}
{'city': 'cty-Canada-6', 'iatacode': 'YEG', 'country': 'CDN'}
{'city': 'cty-Cape-Verde-Praia', 'iatacode': 'RAI', 'country': 'CV'}
{'iatacode': 'LYB', 'country': 'CAYM'}
{'city': 'city-George-Town-CAYM-CAYM', 'iatacode': 'GCM', 'country': 'CAYM'}
{'iatacode': 'CYB', 'country': 'CAYM'}
{'city': 'cty-Central-African-Republic-Bangui', 'iatacode': 'BGF', 'country': 'RCA'}
{'city': 'cty-Chad-NDjamena', 'iatacode': 'NDJ', 'country': 'TCH'}
{'city': 'cty-Chile-2', 'iatacode': 'ANF', 'country': 'RCH'}
{'city': 'cty-Chile-14', 'iatacode': 'ZAL', 'country': 'RCH'}
{'city': 'cty-Chile-4', 'iatacode': 'LSC', 'country': 'RCH'}
{'city': 'cty-Chile-3', 'iatacode': 'CPO', 'country': 'RCH'}
{'city': 'cty-Chile-8', 'iatacode': 'CCP', 'country': 'RCH'}
{'city': 'cty-Chile-9', 'iatacode': 'ZCO', 'country': 'RCH'}
{'city': 'cty-Chile-13', 'iatacode': 'SCL', 'country': 'RCH'}
{'city': 'cty-Chile-1', 'iatacode': 'IQQ', 'country': 'RCH'}
{'city': 'cty-Chile-15', 'iatacode': 'ARI', 'country': 'RCH'}
{'city': 'cty-Chile-10', 'iatacode': 'PMC', 'country': 'RCH'}
{'city': 'cty-Chile-12', 'iatacode': 'PUQ', 'country': 'RCH'}
{'city': 'cty-China-29', 'iatacode': 'HGH', 'country': 'CN'}
{'city': 'cty-China-92', 'iatacode': 'XMN', 'country': 'CN'}
{'city': 'cty-China-208', 'iatacode': 'HLD', 'country': 'CN'}
{'city': 'cty-China-82', 'iatacode': 'XFN', 'country': 'CN'}
{'city': 'cty-China-270', 'iatacode': 'XIC', 'country': 'CN'}
{'city': 'cty-China-133', 'iatacode': 'HAK', 'country': 'CN'}
{'city': 'cty-China-53', 'iatacode': 'HET', 'country': 'CN'}
{'city': 'cty-China-3', 'iatacode': 'PEK', 'country': 'CN'}
{'city': 'cty-China-Shanghai', 'iatacode': 'PVG', 'country': 'CN'}
{'city': 'cty-China-240', 'iatacode': 'WXN', 'country': 'CN'}
{'city': 'cty-China-7', 'iatacode': 'WUH', 'country': 'CN'}
{'city': 'cty-China-46', 'iatacode': 'WUX', 'country': 'CN'}
{'city': 'cty-China-85', 'iatacode': 'WNZ', 'country': 'CN'}
{'city': 'cty-China-101', 'iatacode': 'INC', 'country': 'CN'}
{'city': 'cty-China-228', 'iatacode': 'ZUH', 'country': 'CN'}
{'city': 'cty-China-10', 'iatacode': 'HRB', 'country': 'CN'}
{'city': 'cty-China-65', 'iatacode': 'JMU', 'country': 'CN'}
{'city': 'cty-China-17', 'iatacode': 'CGQ', 'country': 'CN'}
{'city': 'cty-China-20', 'iatacode': 'CGO', 'country': 'CN'}
{'city': 'cty-China-23', 'iatacode': 'LHW', 'country': 'CN'}
{'city': 'cty-China-31', 'iatacode': 'SJW', 'country': 'CN'}
{'city': 'cty-China-9', 'iatacode': 'CKG', 'country': 'CN'}
{'city': 'cty-China-30', 'iatacode': 'CSX', 'country': 'CN'}
{'city': 'cty-China-312', 'iatacode': 'BHY', 'country': 'CN'}
{'city': 'cty-China-144', 'iatacode': 'TGO', 'country': 'CN'}
{'city': 'cty-China-28', 'iatacode': 'KHN', 'country': 'CN'}
{'city': 'cty-China-22', 'iatacode': 'KMG', 'country': 'CN'}
{'city': 'cty-China-5', 'iatacode': 'TSN', 'country': 'CN'}
{'city': 'cty-China-35', 'iatacode': 'BAV', 'country': 'CN'}
{'city': 'cty-China-26', 'iatacode': 'NDG', 'country': 'CN'}
{'city': 'cty-China-41', 'iatacode': 'NNG', 'country': 'CN'}
{'city': 'cty-China-13', 'iatacode': 'NKG', 'country': 'CN'}
{'city': 'cty-China-37', 'iatacode': 'URC', 'country': 'CN'}
{'city': 'cty-China-109', 'iatacode': 'NTG', 'country': 'CN'}
{'city': 'cty-China-139', 'iatacode': 'MIG', 'country': 'CN'}
{'city': 'cty-China-19', 'iatacode': 'TYN', 'country': 'CN'}
{'city': 'cty-China-8', 'iatacode': 'CAN', 'country': 'CN'}
{'city': 'cty-China-140', 'iatacode': 'LZO', 'country': 'CN'}
{'city': 'cty-China-112', 'iatacode': 'LYI', 'country': 'CN'}
{'city': 'cty-China-324', 'iatacode': 'LXA', 'country': 'CN'}
{'city': 'cty-China-286', 'iatacode': 'WEH', 'country': 'CN'}
{'city': 'cty-China-57', 'iatacode': 'MDG', 'country': 'CN'}
{'city': 'cty-China-15', 'iatacode': 'DLC', 'country': 'CN'}
{'city': 'cty-China-16', 'iatacode': 'TNA', 'country': 'CN'}
{'city': 'cty-China-332', 'iatacode': 'SYX', 'country': 'CN'}
{'city': 'cty-China-21', 'iatacode': 'KWE', 'country': 'CN'}
{'city': 'cty-China-105', 'iatacode': 'SZX', 'country': 'CN'}
{'city': 'cty-China-11', 'iatacode': 'CTU', 'country': 'CN'}
{'city': 'cty-China-157', 'iatacode': 'YNJ', 'country': 'CN'}
{'city': 'cty-China-72', 'iatacode': 'YNT', 'country': 'CN'}
{'city': 'cty-China-126', 'iatacode': 'YNZ', 'country': 'CN'}
{'city': 'cty-China-91', 'iatacode': 'YIH', 'country': 'CN'}
{'city': 'cty-China-154', 'iatacode': 'YBP', 'country': 'CN'}
{'city': 'cty-China-47', 'iatacode': 'XUZ', 'country': 'CN'}
{'city': 'cty-China-45', 'iatacode': 'FOC', 'country': 'CN'}
{'city': 'cty-China-59', 'iatacode': 'XNN', 'country': 'CN'}
{'city': 'cty-China-12', 'iatacode': 'XIY', 'country': 'CN'}
{'city': 'cty-China-42', 'iatacode': 'HFE', 'country': 'CN'}
{'city': 'cty-China-280', 'iatacode': 'MXZ', 'country': 'CN'}
{'city': 'cty-China-152', 'iatacode': 'NNY', 'country': 'CN'}
{'city': 'cty-China-302', 'iatacode': 'NZH', 'country': 'CN'}
{'city': 'cty-China-281', 'iatacode': 'YUS', 'country': 'CN'}
{'city': 'cty-China-147', 'iatacode': 'AQG', 'country': 'CN'}
{'city': 'cty-China-124', 'iatacode': 'CGD', 'country': 'CN'}
{'city': 'cty-China-220', 'iatacode': 'KHG', 'country': 'CN'}
{'city': 'cty-China-164', 'iatacode': 'KOW', 'country': 'CN'}
{'city': 'cty-China-230', 'iatacode': 'AKU', 'country': 'CN'}
{'city': 'cty-China-239', 'iatacode': 'KRL', 'country': 'CN'}
{'city': 'cty-China-36', 'iatacode': 'LYA', 'country': 'CN'}
{'city': 'cty-China-103', 'iatacode': 'LYG', 'country': 'CN'}
{'city': 'cty-China-55', 'iatacode': 'LZH', 'country': 'CN'}
{'city': 'cty-China-75', 'iatacode': 'WEF', 'country': 'CN'}
{'city': 'cty-China-163', 'iatacode': 'CHG', 'country': 'CN'}
{'city': 'cty-China-115', 'iatacode': 'CIH', 'country': 'CN'}
{'city': 'cty-China-107', 'iatacode': 'CIF', 'country': 'CN'}
{'city': 'cty-China-128', 'iatacode': 'DOY', 'country': 'CN'}
{'city': 'cty-China-209', 'iatacode': 'NAO', 'country': 'CN'}
{'city': 'cty-China-127', 'iatacode': 'JIU', 'country': 'CN'}
{'city': 'cty-China-131', 'iatacode': 'JDZ', 'country': 'CN'}
{'city': 'cty-China-86', 'iatacode': 'ZHA', 'country': 'CN'}
{'city': 'cty-China-138', 'iatacode': 'WUA', 'country': 'CN'}
{'city': 'cty-China-205', 'iatacode': 'GYS', 'country': 'CN'}
{'city': 'cty-China-242', 'iatacode': 'HSN', 'country': 'CN'}
{'city': 'cty-China-58', 'iatacode': 'JNZ', 'country': 'CN'}
{'city': 'cty-China-137', 'iatacode': 'JNG', 'country': 'CN'}
{'city': 'cty-China-313', 'iatacode': 'JUZ', 'country': 'CN'}
{'city': 'cty-China-238', 'iatacode': 'HLH', 'country': 'CN'}
{'city': 'cty-China-235', 'iatacode': 'HMI', 'country': 'CN'}
{'city': 'cty-China-216', 'iatacode': 'YIN', 'country': 'CN'}
{'city': 'cty-China-96', 'iatacode': 'KWL', 'country': 'CN'}
{'city': 'cty-China-60', 'iatacode': 'CZX', 'country': 'CN'}
{'city': 'cty-China-56', 'iatacode': 'SWA', 'country': 'CN'}
{'city': 'cty-China-39', 'iatacode': 'DAT', 'country': 'CN'}
{'city': 'cty-China-18', 'iatacode': 'TAO', 'country': 'CN'}
{'city': 'cty-China-62', 'iatacode': 'DDG', 'country': 'CN'}
{'city': 'cty-China-6', 'iatacode': 'SHE', 'country': 'CN'}
{'city': 'cty-China-Shanghai', 'iatacode': 'SHA', 'country': 'CN'}
{'city': 'city-The-Settlement-XMAS-XMAS', 'iatacode': 'XCH', 'country': 'XMAS'}
{'city': 'city-West-Island-COCO-COCO', 'iatacode': 'CCK', 'country': 'COCO'}
{'city': 'cty-Colombia-Bogota', 'iatacode': 'BOG', 'country': 'CO'}
{'city': 'cty-Colombia-10', 'iatacode': 'IBE', 'country': 'CO'}
{'city': 'cty-Colombia-36', 'iatacode': 'FLA', 'country': 'CO'}
{'city': 'cty-Colombia-25', 'iatacode': 'AXM', 'country': 'CO'}
{'city': 'cty-Colombia-11', 'iatacode': 'MZL', 'country': 'CO'}
{'city': 'cty-Colombia-26', 'iatacode': 'EJA', 'country': 'CO'}
{'city': 'cty-Colombia-Cali', 'iatacode': 'CLO', 'country': 'CO'}
{'city': 'cty-Colombia-6', 'iatacode': 'CTG', 'country': 'CO'}
{'city': 'cty-Colombia-13', 'iatacode': 'SMR', 'country': 'CO'}
{'city': 'cty-Colombia-5', 'iatacode': 'BAQ', 'country': 'CO'}
{'city': 'cty-Colombia-8', 'iatacode': 'PEI', 'country': 'CO'}
{'city': 'cty-Colombia-7', 'iatacode': 'CUC', 'country': 'CO'}
{'city': 'cty-Colombia-9', 'iatacode': 'BGA', 'country': 'CO'}
{'city': 'cty-Colombia-San-Andres', 'iatacode': 'ADZ', 'country': 'CO'}
{'city': 'cty-Colombia-Medellin', 'iatacode': 'EOH', 'country': 'CO'}
{'city': 'cty-Comoros-Moroni', 'iatacode': 'HAH', 'country': 'COM'}
{'city': 'cty-RCB-12', 'iatacode': 'PNR', 'country': 'RCB'}
{'city': 'cty-RCB-11', 'iatacode': 'BZV', 'country': 'RCB'}
{'city': 'city-Willemstad-CUR', 'iatacode': 'CUR', 'country': 'CUR'}
{'city': 'cty-Zaire-2', 'iatacode': 'FIH', 'country': 'ZRE'}
{'city': 'cty-Zaire-4', 'iatacode': 'MJM', 'country': 'ZRE'}
{'city': 'cty-Zaire-3', 'iatacode': 'FBM', 'country': 'ZRE'}
{'city': 'city-Avarua-COOK-COOK', 'iatacode': 'RAR', 'country': 'COOK'}
{'city': 'cty-Costa-Rica-2', 'iatacode': 'SYQ', 'country': 'CR'}
{'city': 'cty-Costa-Rica-8', 'iatacode': 'LIR', 'country': 'CR'}
{'city': 'cty-Costa-Rica-2', 'iatacode': 'SJO', 'country': 'CR'}
{'city': 'cty-CI-8', 'iatacode': 'ABJ', 'country': 'CI'}
{'city': 'cty-Croatia-2', 'iatacode': 'SPU', 'country': 'HR'}
{'city': 'cty-Croatia-1', 'iatacode': 'ZAG', 'country': 'HR'}
{'city': 'cty-Croatia-3', 'iatacode': 'RJK', 'country': 'HR'}
{'city': 'cty-Croatia-5', 'iatacode': 'ZAD', 'country': 'HR'}
{'city': 'cty-Cuba-3', 'iatacode': 'SCU', 'country': 'C'}
{'city': 'cty-Cuba-4', 'iatacode': 'CMW', 'country': 'C'}

In [31]:
# River, lake and airport all have a country code in their attribute, and so do countries

document.find('country').attrib # the country code attribute is called "car_code" in the dictionary as printed below

{'area': '28750',
 'capital': 'cty-Albania-Tirane',
 'car_code': 'AL',
 'memberships': 'org-BSEC org-CEI org-CD org-SELEC org-CE org-EAPC org-EBRD org-EITI org-FAO org-IPU org-IAEA org-IBRD org-ICC org-ICAO org-ICCt org-Interpol org-IDA org-IFRCS org-IFC org-IFAD org-ILO org-IMO org-IMF org-IOC org-IOM org-ISO org-OIF org-ITU org-ITUC org-IDB org-MIGA org-NATO org-OSCE org-OPCW org-OAS org-OIC org-PCA org-UN org-UNCTAD org-UNESCO org-UNIDO org-UPU org-WCO org-WFTU org-WHO org-WIPO org-WMO org-UNWTO org-WTO'}

In [92]:
# make a data frame of the country code information
country_coding = [] # first initiate a list to store information

for e in document.iterfind('country'):
    name = e.find('name').text
    
    code = e.attrib.get('car_code')
    
    country_coding += [[name, code]]
    
country_df = pd.DataFrame(country_coding, columns= ['country_name','country_code'])
country_df.head()

  country_name country_code
0      Albania           AL
1       Greece           GR
2    Macedonia           MK
3       Serbia          SRB
4   Montenegro          MNE

In [85]:
# iterate through rivers
river_length = []

for c in document.iterfind('river'):
    
    if (str(type(c.find('length'))) == "<class 'NoneType'>"):
        length = np.nan
    else:
        length = float(c.find('length').text) # get the length
    code = c.attrib.get('country') # get the country code
    name = str(c.attrib.get('id')) # name of the river
    
    river_length += [[code, name , length]]
    
river_length[:5]

[['IS', 'river-Thjorsa', '230'],
 ['IS', 'river-Joekulsa_a_Fjoellum', '206'],
 ['N', 'river-Glomma', '604'],
 ['N', 'river-Lagen', '322'],
 ['S', 'river-Goetaaelv', '93']]

In [83]:
print(len(river_length), len(document.findall('river'))) # verify the length of the data

238 238

In [90]:
# create a data frame
river_df = pd.DataFrame(np.array(river_length), 
                            columns = ["country_code", "river_name", "length"])

river_df.length = river_df.length.astype(float)

river_df.sort_values('length',ascending = False)[:5]

    country_code      river_name  length
174     CO BR PE  river-Amazonas  6448.0
137           CN   river-Jangtse  6380.0
136           CN   river-Hwangho  4845.0
123            R      river-Lena  4400.0
205      RCB ZRE     river-Zaire  4374.0

In [101]:
# now find those countries that have Amazon flowing through
country_df.country_code = country_df.country_code.astype(str)

print(country_df.country_name[country_df.country_code == 'CO'],
     country_df.country_name[country_df.country_code == 'BR'],
     country_df.country_name[country_df.country_code == 'PE'])

141    Colombia
Name: country_name, dtype: object 176    Brazil
Name: country_name, dtype: object 180    Peru
Name: country_name, dtype: object

In [103]:
# iterate through lakes
for l in document.iterfind('lake'):  
    
    if (str(type(l.find('area'))) == "<class 'NoneType'>"):
        area = np.nan
    else:
        area = float(l.find('area').text) # get the area
    code = str(l.attrib.get('country')) # get the country code
    name = str(l.attrib.get('id')) # name of the lake
    
    lake_area += [[code, name, area]]

In [120]:
# create a data frame
lake_df = pd.DataFrame(np.array(lake_area), 
                            columns = ["country_code", "lake_name", "area"])

lake_df.area = lake_df.area.astype(float)

biggest = lake_df.sort_values('area',ascending = False)[0:1]
biggest

       country_code            lake_name      area
265  R AZ KAZ IR TM  lake-KaspischesMeer  386400.0

In [122]:
# find the countries that area represented in this coding
country_df.country_name[ country_df.country_code
                        .isin( 
                                biggest.iloc[0,0] # locate the first element of this country_code
                                .split(' ') # seperate out the single string into a list of codes
                             )
                       ]

23          Russia
56            Iran
59    Turkmenistan
63      Azerbaijan
75      Kazakhstan
Name: country_name, dtype: object

In [114]:
airport_ele = []

# iterate through airports
for a in document.iterfind('airport'):  
    
    if (str(type(a.find('elevation').text)) == "<class 'NoneType'>"):
        elevation = np.nan
    else:
        elevation = float(a.find('elevation').text) 
    code = str(a.attrib.get('country')) # get the country code
    city = str(a.attrib.get('city')) # name of the city
    
    airport_ele += [[code, city, elevation]]

In [115]:
print(len(airport_ele), len(document.findall('airport')))

1315 1315

In [123]:
# create a data frame
airport_df = pd.DataFrame(np.array(airport_ele), 
                            columns = ["country_code", "city", "elevation"])

airport_df.elevation = airport_df.elevation.astype(float)

airport_df.sort_values('elevation',ascending = False)[:5]

    country_code           city  elevation
80           BOL      cty-BOL-1     4063.0
219           CN  cty-China-324     4005.0
241           CN  cty-China-281     3963.0
813           PE    cty-Peru-15     3827.0
815           PE    cty-Peru-10     3311.0

In [124]:
# find the country with an airport of the highest elevation
country_df.country_name[ country_df.country_code == 'BOL' ] #Bolivia

175    Bolivia
Name: country_name, dtype: object